body{
    min-height: 3000px;
}
.jumbotron{
    padding-top: 6rem;
    background-color: honeydew;
}
#projects{
    background-color: honeydew ;
}
footer{
    font-size: 40px;
    text-indent: 18px;
}
#copyright{
    font-size: 20px;
}
